:root {
    --pink: pink;
    --blue: skyblue;
    --purple: mediumpurple;
    --darkblue: #043faf;
}

html, body, div, p, main, span, a{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: pink;
    font-size: 16px;
}
div#top {
    margin-bottom: 3rem;
}

h1 {
    text-align: center;
}
div#top .subtitle {
    text-align: center;
    font-family: monospace;
}
textarea#css {
    font-family: monospace;
    width: 70%;
    height: 50vh;
    padding: 1em;
    resize: none;
    margin: 5vh auto 3rem auto;
    border: 3px solid var(--blue);
    border-left-width: 4rem;
    border-right-width: 0.5rem;
    border-radius: 1rem;
    display: block;
}
button#submit {
    display: block;
    padding: 1rem 0.3rem;
    margin: auto;

}

label {
    margin: auto;
    width: fit-content;
    display: block;
}

div#results {
    border: 1px solid var(--purple);
    border-left: 2rem solid var(--purple);
    padding: 3rem;
    font-size: 1.5rem;
    width: 80%;
    margin: 5rem auto;
}
div#results span.tag {
    padding-left: 0.3em;
    background: lightgrey;
}
div#results span.property {
    color: var(--darkblue);
    font-weight: bold;
}
div#results .title {
    text-align: center;
    font-size: 2rem;
}
